.product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.5em;
  margin-top: 3em;
  margin-right: 0.5em;
}

.product-card {
  display: flex;
  width: 500px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  margin-left: 2em;
}

.product-card img {
  width: 200px;
  height: auto;
  margin-right: 20px;
}

.product-card .text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-card .title {
  font-weight: bold;
  margin-bottom: 5px;
}

.product-card .description {
  margin-bottom: 5px;
}

.product-card .price {
  font-weight: bold;
}

